.hr-blank
  width: 100%
  padding: 1rem 0

.custom_hr  
  display: block
  margin: 60px auto
  width: 70%
  height: 3px   
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 50%, rgba(255,255,255,1) 100%);

.custom_quote
  padding: 1rem
  background-color: #F3F9FF
  border: 1px solid #B0C0D2

.cuadro-azul
  display: inline-block
  padding: 1rem 2.5rem  
  background-color: #00348D
  border-radius: 12px
  p
    color: white

.c-blue
  color: #00348D

.c-rosa
  color: #F579A8

// Tarjeta Avatar Vertical
$cardV-icon-size: 150px
$cardV-before-height: calc(#{$cardV-icon-size} / 2)
$cardV-cl: #EDF4FF

.cardV-avatar  
  position: relative 
  height: 100%
  &::before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: calc( 100% - #{$cardV-before-height} )   
    background-color: $cardV-cl
    border-radius: 12px    
    z-index: 0 
  &__icon    
    img
      display: block    
      margin: 0 auto   
      position: relative
      width: $cardV-icon-size
  &__body
    position: relative
    height: 100%
    padding: 1rem    

// Tarjeta ROSA
.tarjetas--rosa
  padding: 1.5rem
  background-color: #FFE5EF

// Tarjeta AZUL
.tarjetas--azul
  padding: 1.5rem
  background-color: #CCDCF7

.custom-crd--azul
  padding: 1.5rem
  background-color: #CCDCF7
  border-radius: 12px

.tarjeta--gris
  padding: 1.5rem
  background-color: #e2ecfd

// Bloque texto a - custom
.color-custom
  background-color: #fddbe9
  &::before
    background-color: #89ACE8

//
.color-custom02
  background-color: #fddbe9 !important
  &::before
    background-color: #F579A8

// full height
.full-h
  height: 100%

.pasos-a__circle
  .h2
    color: white !important


// TABS ICON SIZE
.tabs-b__tab__icon
  width: 80px !important

// CUSTOM BTN
.customBtn
  span, i
    color: $color-sistema-texto !important

